/**
    Author: Jacob Francis
*/
.bar-pane {
/* Stole from JavaFX default css from .table-view class https://pastebin.com/0PebD9nR*/
    -fx-skin: "com.sun.javafx.scene.control.skin.TableViewSkin";
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0,1;
    -fx-padding: 1; /* 0.083333em; */
    -fx-table-header-border-color: #959595;
    -fx-table-cell-border-color: #bbbbbb;
}
