.chart-series-line {
    -fx-stroke-width: 1px; 
    -fx-effect: null; 
}
.vertical-cursor{ 
    -fx-stroke: Black; 
}
.chart-vertical-grid-lines { 
    -fx-stroke: transparent; 
}
.chart-horizontal-grid-lines { 
    -fx-stroke: transparent; 
}
.chart-legend-item-symbol{ 
   -fx-background-radius: 0; 
}
