STRIMM.app
STRIMM/target/*
STRIMM/*.log
STRIMM/.idea/*
STRIMM/.idea/**
STRIMM/.idea/workspace.xml

STRIMM_IJ/target
STRIMM_IJ/target/*
STRIMM_IJ/.idea/*
STRIMM_IJ/.idea/**
STRIMM_IJ/log/*
STRIMM_JNI/target
STRIMM_JNI/target/*
STRIMM_JNI/.idea/*
STRIMM_JNI/.idea/**

WorkingDirectory/log/*
WorkingDirectory/*.log
WorkingDirectory/ExperimentOutput/**
WorkingDirectory/ExperimentOutput/*

Test/.vs/*
Project2/*
CreateCSV/.vs/*
Launch_STRIMM
.idea/*
**.bak
*.bak
**.orig
**.lck
*.lck
*.iml
**.tif
*.tif
settings.json
*.h5
**.h5
*.desc

Akkatest/*
Akkatest
package/STRIMM.app/*
Arduino sketches
Arduino sketches/*


