target/*
out/*
.idea/*
STRIMM.app/*
*.h5
NIDAQ/.vs/*
*.log
log/*
*.zip
CreateCSV/*
CreateCSV
NIDAQ/Test/x64/*
log/*.lck
*.log
Launch_STRIMM/Launch_STRIMM/Debug/*
Launch_STRIMM/Launch_STRIMM/Debug
Launch_STRIMM/Debug/*
Launch_STRIMM/Launch_STRIMM/Launch_STRIMM.vcxproj
Launch_STRIMM/.vs/*
NIDAQ/Test/x64/*
src/main/resources/icons/*.afdesign
