STRIMM.app
Launch_STRIMM
STRIMM/target/*
STRIMM/*.log
STRIMM/.idea/*
STRIMM/.idea/**

STRIMM_IJ/target
STRIMM_IJ/target/*
STRIMM_IJ/.idea/*
STRIMM_IJ/.idea/**
STRIMM_IJ/log/*
STRIMM_JNI/target
STRIMM_JNI/target/*
STRIMM_JNI/.idea/*
STRIMM_JNI/.idea/**

Test/.vs/*
Project2/*
CreateCSV/.vs/*

.idea/*
WorkingDirectory/log/*
WorkingDirectory/*.log
WorkingDirectory/ExperimentOutput/**
WorkingDirectory/ExperimentOutput/*
target/*
**.bak
*.bak
**.orig
**.lck
*.lck
*.iml
**.tif
*.tif
settings.json
*.h5
**.h5
*.desc

Akkatest/*
Akkatest
package/STRIMM.app/*


